<div class='row recent-activity'>
<div class='col-sm-6 box'>
  <div class='box'>
    <div class='box-header'>
      <div class='title'>
        <i class='icon-refresh'></i>
        All Available Articles
      </div>
      <div class='actions'>
        
        <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
        </a>
      </div>
    </div>
    <div class='box-content box-no-padding'>
      <ul class='nav nav-tabs nav-tabs-simple'>
        <li class='active'>
                      <a data-toggle="tab" class="green-border" href="#users"><i class='icon-user text-green'></i> 
          Links
          </a>

        </li>
      </ul>
      <div class='tab-content'>
        <div class='tab-pane fade in active' id='users'>
          <ul class='list-unstyled users list-hover list-striped'>
                <% @links.each do |link| %>
                <% @link = link %>
                  <li>
                          <div class='avatar pull-left'>
                              <img width=16 height=16 src="http://www.google.com/s2/favicons?domain=<%= link.url %>" />
                          </div>
                          <div class='action pull-left'>
                              <a class="text-contrast" href="/links/<%= link.id %>"><%= link.url %></a>
                          </div>
                          <small class='date pull-right text-muted'>
                            <span class='timeago fade has-tooltip' data-placement='top' title='<%= link.date %>'><%= time_ago_in_words(link.date) %> </span>
                            <i class='icon-time'></i>
                          </small>
                      </li>
                <% end %>
          </ul>
          <div class='load-more'>
                          <a id="users-more-activity" class="btn btn-block" data-loading-text="&lt;i class='icon-spinner icon-spin'&gt;&lt;/i&gt; Loading more..." href="#"><i class='icon-circle-arrow-down'></i>
            Load more
            </a>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class='col-sm-6 box'>
  <div class='box'>
    <div class='box-header'>
      <div class='title'>
        <i class='icon-refresh'></i>
        All Current Links
      </div>
      <div class='actions'>
        
        
        <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
        </a>
      </div>
    </div>
    <div class='box-content box-no-padding'>
      <ul class='nav nav-tabs nav-tabs-simple'>
        <li class='active'>
                      <a data-toggle="tab" class="green-border" href="#users"><i class='icon-user text-green'></i>
          All Generated Links 
          </a>

        </li>
      </ul>
      <div class='tab-content'>
        <div class='tab-pane fade in active' id='users'>
          <ul class='list-unstyled users list-hover list-striped'>
                <% @generatedlinks.each do |link| %>
                <% @generatedlink = link %>
                  <li>
                          <div class='avatar pull-left'>
                              <img width=16 height=16 src="http://www.google.com/s2/favicons?domain=<%= link.url %>" />
                          </div>
                          <div class='action pull-left'>
                              <a class="text-contrast" href="/links/<%= link.id %>"><%= link.url %></a>
                          </div>
                          <small class='date pull-right text-muted'>
                            <span class='timeago fade has-tooltip' data-placement='top' title='<%= link.date %>'><%= time_ago_in_words(link.date) %> </span>
                            <i class='icon-time'></i>
                          </small>
                      </li>
                <% end %>
          </ul>
          <div class='load-more'>
                          <a id="users-more-activity" class="btn btn-block" data-loading-text="&lt;i class='icon-spinner icon-spin'&gt;&lt;/i&gt; Loading more..." href="#"><i class='icon-circle-arrow-down'></i>
            Load more
            </a>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<div class='row recent-activity'>
<div class='col-sm-12'>
  <div class='box'>
    <div class='box-header'>
      <div class='title'>
        <i class='icon-refresh'></i>
        All Recently Paid-Out
      </div>
      <div class='actions'>
        
        <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
        </a>
      </div>
    </div>
    <div class='box-content box-no-padding'>
      <ul class='nav nav-tabs nav-tabs-simple'>
        <li class='active'>
                      <a data-toggle="tab" class="green-border" href="#users"><i class='icon-user text-green'></i>
          All Paid Links 
          </a>

        </li>
      </ul>
      <div class='tab-content'>
        <div class='tab-pane fade in active' id='users'>
          <ul class='list-unstyled users list-hover list-striped'>
                <% @generatedlinks.each do |link| %>
                <% @generatedlink = link %>
                  
                    <% if link.paidout %> 
                      <li>
                          <div class='avatar pull-left'>
                              <img width=16 height=16 src="http://www.google.com/s2/favicons?domain=<%= link.url %>" />
                          </div>
                          <div class='action pull-left'>
                              <a class="text-contrast" href="/links/<%= link.id %>"><%= link.url %></a>
                          </div>
                          <small class='date pull-right text-muted'>
                            <span class='timeago fade has-tooltip' data-placement='top' title='<%= link.date %>'><%= time_ago_in_words(link.date) %> </span>
                            <i class='icon-time'></i>
                          </small>
                      </li>
                    <% end %> 
                  
                <% end %>
          </ul>
          <div class='load-more'>
                          <a id="users-more-activity" class="btn btn-block" data-loading-text="&lt;i class='icon-spinner icon-spin'&gt;&lt;/i&gt; Loading more..." href="#"><i class='icon-circle-arrow-down'></i>
            Load more
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>