<div class='row'>
  <div class='col-sm-12'>
    <div class='box'>
      <div class='box-header'>
        <div class='title has-popover' data-content='This shows clicks over the last week. This chart is here so that you can see how your content is peforming on days of the week. It also shows links that have expired, so use this as a guide.' data-placement='bottom' data-title='About This Chart'>
          My Clicks From The Past Week
        </div>
        <div class='actions'>
          <!--<a class="btn box-remove btn-xs btn-link" href="#"><i class='icon-remove'></i></a>-->
          
          <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
          </a>
        </div>
      </div>
      <div class='box-content'>
        <div id='stats-chart1' style='height:220px;'></div>
        
      </div>
    </div>
  </div>
</div>
<% if !is_user_admin? && !is_user_publisher?%>
<div class='row'>
  <div class='col-sm-6 box'>
    <div class='box-header'>
      <div class='title'>
        <i class='icon-group'></i>
        Traffic
      </div>
      <div class='actions'>
        <!--<a class="btn box-remove btn-xs btn-link" href="#"><i class='icon-remove'></i></a>-->
        
        <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
        </a>
      </div>
    </div>
    <div class='row'>
      <div class='col-sm-12'>
        <div class='box-content box-statistic text-right has-popover' data-content='This is the number of link clicks. This also shows links that have gone inactive in the last 2 hours, so its more of an estimate to guide your posting decisions. Additionally, we will filter out bot clicks and other invalid traffic which is not eligable for Social Curve' data-placement='top' data-title='About this Traffic Number'>
          <h3 class='title text-error'><%= @hoursclicks %></h3>
          <small>Clicks in Last 2 Hours</small>
          <div class='text-error icon-user align-left'></div>
        </div>
        <div class='box-content box-statistic text-right has-popover' data-content='This is the number of link clicks. This also shows links that have gone inactive today, so its more of an estimate to guide your posting decisions. Additionally, we will filter out bot clicks and other invalid traffic which is not eligable for Social Curve' data-placement='top' data-title='About this Traffic Number'>
          <h3 class='title text-error'><%= @todaysclicks %></h3>
          <small>Clicks Today</small>
          <div class='text-error icon-user align-left'></div>
        </div>
        <div class='box-content box-statistic text-right has-popover' data-content='This is the number of link clicks. This also shows links that have gone inactive in the last week, so its more of an estimate to guide your posting decisions. Additionally, we will filter out bot clicks and other invalid traffic which is not eligable for Social Curve' data-placement='top' data-title='About this Traffic Number'>
          <h3 class='title text-warning'><%= @weeklyclicks %></h3>
          <small>Clicks This Week</small>
          <div class='text-warning icon-book align-left'></div>
        </div>
        <div class='box-content box-statistic text-right has-popover' data-content='This is the number of link clicks. This also shows links that have gone inactive in the last 30 days, so its more of an estimate to guide your posting decisions. Additionally, we will filter out bot clicks and other invalid traffic which is not eligable for Social Curve' data-placement='top' data-title='About this Traffic Number'>
          <h3 class='title text-primary'><%= @monthyclicks %></h3>
          <small>Clicks This Month</small>
          <div class='text-primary icon-time align-left'></div>
        </div>
      </div>
    </div>
  </div>
  <div class='col-sm-6 box'>
      <div class='box-header'>
        <div class='title'>
          <div class='icon-inbox'></div>
          Profit
        </div>
        <div class='actions'>
          <!--<a class="btn box-remove btn-xs btn-link" href="#"><i class='icon-remove'></i></a>-->
          
          <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
          </a>
        </div>
      </div>
      <div class='row'>
        <div class='col-sm-12'>
          <div class='box-content box-statistic has-popover' data-content='This is CPM of each individual link multiplied by its number of clicks. This also shows links that have gone inactive in the last 2 hours, so its more of an estimate to guide your posting decisions. Additionally, invalid clicks will be taken out before payment' data-placement='top' data-title='About this Amount'>
            <h3 class='title text-error'>$<%= @hoursprofit %></h3>
            <small>Last 2 Hours</small>
            <div class='text-error icon-inbox align-right'></div>
          </div>
          <div class='box-content box-statistic has-popover' data-content='This is CPM of each individual link multiplied by its number of clicks. This also shows links that have gone inactive in the last day, so its more of an estimate to guide your posting decisions. Additionally, invalid clicks will be taken out before payment'  data-placement='top' data-title='About this Amount'>
            <h3 class='title text-error'>$<%= @todayprofit %></h3>
            <small>Today</small>
            <div class='text-error icon-inbox align-right'></div>
          </div>
          <div class='box-content box-statistic has-popover' data-content='This is CPM of each individual link multiplied by its number of clicks. This also shows links that have gone inactive in the last week, so its more of an estimate to guide your posting decisions. Additionally, invalid clicks will be taken out before payment' data-placement='top' data-title='About this Amount'>
            <h3 class='title text-warning'>$<%= @weeklyprofit %></h3>
            <small>This Week</small>
            <div class='text-warning icon-check align-right'></div>
          </div>
          <div class='box-content box-statistic has-popover' data-content='This is CPM of each individual link multiplied by its number of clicks. This also shows links that have gone inactive in the last 30 days, so its more of an estimate to guide your posting decisions. Additionally, invalid clicks will be taken out before payment' data-placement='top' data-title='About this Amount'>
            <h3 class='title text-info'>$<%= @monthylprofit %></h3>
            <small>This Month</small>
            <div class='text-info icon-time align-right'></div>
          </div>
        </div>
      </div>
    </div>
</div>
<% end %>
<script>
  var data, dataset, gd, options, previousLabel, previousPoint, showTooltip, ticks;
  var blue, data, datareal, getRandomData, green, i, newOrders, options, orange, orders, placeholder, plot, purple, randNumber, randSmallerNumber, red, series, totalPoints, update, updateInterval;
  var red = "#f34541";
  var orange = "#f8a326";
  var blue = "#00acec";
  var purple = "#9564e2";
  var green = "#49bf67";

  if ($("#stats-chart1").length !== 0) {
    testplot = <%=raw @dashstats %>
    plot = $.plot($("#stats-chart1"), [
      {
        data: testplot,
        label: "Orders"
      }
    ], {
      series: {
        lines: {
          show: true,
          lineWidth: 3
        },
        shadowSize: 0
      },
      legend: {
        show: false
      },
      grid: {
        clickable: true,
        hoverable: true,
        borderWidth: 0,
        tickColor: "#f4f7f9"
      },
      colors: ["#00acec", "#f8a326"]
    });
  }
</script>

<!--
<div class="row recent-activity">
  <div class='col-sm-6 box'>
    <div class='box'>
      <div class='box-header'>
        <div class='title'>
          <i class='icon-refresh'></i>
          Current Links
        </div>
        <div class='actions'>
          
          <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
          </a>
        </div>
      </div>
      <div class='box-content box-no-padding'>
        <ul class='nav nav-tabs nav-tabs-simple'>
          <li class='active'>
            <a data-toggle="tab" class="green-border" href="#users"><i class='icon-user text-green'></i> My Links</a>
          </li>
        </ul>
        <div class='tab-content'>
          <div class='tab-pane fade in active' id='users'>
            <ul class='list-unstyled users list-hover list-striped'>
              <% @generatedlinks.each do |link| %>
              <% @generatedlink = link %>
                <li>
                    <div class='avatar pull-left'>
                        <img width=16 height=16 src="http://www.google.com/s2/favicons?domain=<%= link.url %>" />
                    </div>
                    <div class='action pull-left'>
                        <a class="text-contrast" href="/links/<%= link.id %>"><%= link.url %></a>
                    </div>
                    <small class='date pull-right text-muted'>
                      <span class='timeago fade has-tooltip' data-placement='top' title='<%= link.date %>'><%= time_ago_in_words(link.date) %> </span>
                      <i class='icon-time'></i>
                    </small>
                </li>
              <% end %>
            </ul>
            <div class='load-more'>
                            <a id="users-more-activity" class="btn btn-block" data-loading-text="&lt;i class='icon-spinner icon-spin'&gt;&lt;/i&gt; Loading more..." href="#"><i class='icon-circle-arrow-down'></i>
              Load more
              </a>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='col-sm-6 box'>
    <div class='box-header'>
      <div class='title'>
        <i class='icon-refresh'></i>
        Recently Paid-Out
      </div>
      <div class='actions'>
        <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
        </a>
      </div>
    </div>
    <div class='box-content box-no-padding'>
      <ul class='nav nav-tabs nav-tabs-simple'>
        <li class='active'>
          <a data-toggle="tab" class="green-border" href="#users"><i class='icon-user text-green'></i> My Paid Links</a>
        </li>
      </ul>
      <div class='tab-content'>
        <div class='tab-pane fade in active' id='users'>
          <ul class='list-unstyled users list-hover list-striped'>
            <% @generatedlinks.each do |link| %>
              <% @generatedlink = link %>
              <% if link.paidout %> 
                <li>
                  <div class='avatar pull-left'>
                    <img width=16 height=16 src="http://www.google.com/s2/favicons?domain=<%= link.url %>" />
                  </div>
                  <div class='action pull-left'>
                      <a class="text-contrast" href="/links/<%= link.id %>"><%= link.url %></a>
                  </div>
                  <small class='date pull-right text-muted'>
                    <span class='timeago fade has-tooltip' data-placement='top' title='<%= link.date %>'><%= time_ago_in_words(link.date) %> </span>
                    <i class='icon-time'></i>
                  </small>
                </li>
              <% end %> 
            <% end %>
          </ul>
          <div class='load-more'>
            <a id="users-more-activity" class="btn btn-block" data-loading-text="&lt;i class='icon-spinner icon-spin'&gt;&lt;/i&gt; Loading more..." href="#"><i class='icon-circle-arrow-down'></i>
            Load more</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>-->