<% provide(:title, "Sign In") %>
<% provide(:headline, "Sign In") %>
<% provide(:icon, "ok-circle") %>

<%= form_for(:session, url: login_path) do |f| %>
<!--<body class='login'>-->
<div class='middle-container'>
<div class='middle-row'>
  <div class='middle-wrapper'>
	<div class='login-container'>
	  <div class='container'>
		<div class='row'>
		  <div class='col-sm-4 col-sm-offset-4'>
			<form action='index.html' class='validate-form' method='get'>
			  <div class='form-group'>
				<div class='controls with-icon-over-input' style="position:relative;">
				   

				  <%= f.email_field :email, class: 'form-control' %>  
				  
				  <!--<input value="" placeholder="E-mail" class="form-control" data-rule-required="true" name="email" type="text" />-->
				  
				  <i class='icon-user text-muted' style="position: absolute; right: 10px; top: 9px;"></i>
				
				</div>
			  </div>
			  <div class='form-group'>
				<div class='controls with-icon-over-input' style="position:relative;">
				  <%= f.password_field :password, class: 'form-control'%>
				  <!--<input value="" placeholder="Password" class="form-control" data-rule-required="true" name="password" type="password" />-->
				  <i class='icon-lock text-muted' style="position: absolute; right: 12px; top: 9px;"></i>
				</div>
			  </div>
			  <div class='checkbox'>
				<label for='remember_me'>
				  <%= f.label :remember_me, class: "checkbox inline" do %>
				  <%= f.check_box :remember_me%>
				  <!--<input id='remember_me' name='remember_me' type='checkbox' value='1'>-->
				  <span>Remember me</span>
				  <% end %>
				</label>
			  </div>
			  <%= f.submit "Sign in", class: "btn btn-block" %>
			  <!--<button class='btn btn-block'>Sign in</button>-->
			</form>
			<div class='text-center'>
			  <hr class='hr-normal'>
			  <!--<a href='forgot_password.html'>Forgot your password?</a>-->
			  <%= link_to "(forgot password)", new_password_reset_path %>
			</div>
		  </div>
		</div>
	  </div>
	</div><br>
	<div class='login-container-footer'>
	  <div class='container'>
		<div class='row'>
		  <div class='col-sm-12'>
			<div class='text-center'>
			  <a href='sign_up.html'>
				<i class='icon-user'></i>
				 <strong>
				   <%= link_to "New To Social Curve?", signup_path %>
				  </strong>
			  </a>
			  <br><br>
			</div>
		  </div>
		</div>
	  </div>
	</div>
  </div>
</div>
</div>
<% end %>