<%= form_for(@generated_link) do |f| %>
  <% if @generated_link.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@generated_link.errors.count, "error") %> prohibited this generated_link from being saved:</h2>

      <ul>
      <% @generated_link.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :link %><br>
    <%= f.text_field :link %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.time_select :date %>
  </div>
  <div class="field">
    <%= f.label :posted %><br>
    <%= f.check_box :posted %>
  </div>
  <div class="field">
    <%= f.label :note %><br>
    <%= f.text_area :note %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
