<p id="notice"><%= notice %></p>

<h1>Listing Generated Links</h1>

<table>
  <thead>
    <tr>
      <th>Link</th>
      <th>Date</th>
      <th>Posted</th>
      <th>Note</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @generated_links.each do |generated_link| %>
      <tr>
        <td><%= generated_link.link %></td>
        <td><%= generated_link.date %></td>
        <td><%= generated_link.posted %></td>
        <td><%= generated_link.note %></td>
        <td><%= link_to 'Show', generated_link %></td>
        <td><%= link_to 'Edit', edit_generated_link_path(generated_link) %></td>
        <td><%= link_to 'Destroy', generated_link, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Generated link', new_generated_link_path %>
