<% provide(:title, 'Sign up') %>


<!--<h1>Sign Up</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>
      
      <%= f.label :First %>
      <%= f.text_field :first , class: 'form-control' %>
      
      <%= f.label :Last %>
      <%= f.text_field :last, class: 'form-control' %>
      
       <%= f.label :Email %>
      <%= f.text_field :email, class: 'form-control' %>
      
      <%= f.label :Address %>
      <%= f.text_field :address, class: 'form-control' %>
      
      <%= f.label :Phone %>
      <%= f.text_field :phone, class: 'form-control' %>
      
      <%= f.label :URL %>
      <%= f.text_field :url, class: 'form-control' %>
      
      <%= f.label :publisher, "Publisher", :value => "true"  %>
      <%= f.radio_button :publisher, true %><BR>
      <%= f.label :publisher, "Influencer", :value => "false" %>
      <%= f.radio_button :publisher, false, :checked => true %><BR>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.submit "Create my account", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>-->

<!----> 

<!--render 'form'--> 


<!--<%= link_to 'Back', users_path %>-->


 <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>

<body class='contrast-red login contrast-background'>
    <div class='middle-container'>
      <div class='middle-row'>
        <div class='middle-wrapper'>
          <div class='login-container-header'>
            <div class='container'>
              <div class='row'>
                <div class='col-sm-12'>
                  <div class='text-center'>
                    <!--<img width="121" height="31" src="assets/images/logo_lg.svg" />-->
                    <%= image_tag 'flatty/logo_lg.svg' %>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class='login-container'>
            <div class='container'>
              <div class='row'>
                <div class='col-sm-4 col-sm-offset-4'>
                  <h1 class='text-center title'>Sign up</h1>
                  <form action='index.html' method='get'>
                    <div class='form-group'>
                      <div class='controls with-icon-over-input'>
                        <%= f.text_field :email, class: 'form-control', placeholder: 'Email' %>
                        <i class='icon-user text-muted'></i>
                      </div>
                    </div>
                    <div class='form-group'>
                      <div class='controls with-icon-over-input'>
                        <%= f.text_field :first , class: 'form-control', placeholder: 'First Name' %>
                        <i class='icon-lock text-muted'></i>
                      </div>
                    </div>
                    <div class='form-group'>
                      <div class='controls with-icon-over-input'>
                        <%= f.text_field :last, class: 'form-control', placeholder: 'Last Name' %>
                        <i class='icon-lock text-muted'></i>
                      </div>
                    </div>
                    <div class='form-group'>
                      <div class='controls with-icon-over-input'>
                        <%= f.text_field :address, class: 'form-control', placeholder: 'Mailing Address' %>
                        <i class='icon-lock text-muted'></i>
                      </div>
                    </div>
                    <div class='form-group'>
                      <div class='controls with-icon-over-input'>
                        <%= f.text_field :phone, class: 'form-control', placeholder: 'Phone' %>
                        <i class='icon-lock text-muted'></i>
                      </div>
                    </div>
                    <div class='form-group'>
                      <div class='controls with-icon-over-input'>
                        <%= f.text_field :url, class: 'form-control', placeholder: 'Social Media URL' %>
                        <i class='icon-lock text-muted'></i>
                      </div>
                    </div>
                    <div class='form-group'>
                      <div class='controls with-icon-over-input'>
                        <%= f.label :publisher, "Publisher", :value => "true"  %>
                        <%= f.radio_button :publisher, true %>
                        <!--<%= f.label :publisher, "Influencer", :value => "false" %>
                        <%= f.radio_button :publisher, false, :checked => true %>-->
                        <i class='icon-lock text-muted'></i>
                      </div>
                      <div class='controls with-icon-over-input'>
                        <!--<%= f.label :publisher, "Publisher", :value => "true"  %>
                        <%= f.radio_button :publisher, true %>-->
                        <%= f.label :publisher, "Influencer", :value => "false" %>
                        <%= f.radio_button :publisher, false, :checked => true %>
                        <i class='icon-lock text-muted'></i>
                      </div>
                    </div>
                    <div class='form-group'>
                      <div class='controls with-icon-over-input'>
                        <%= f.password_field :password, class: 'form-control', placeholder: 'Password' %>
                        <i class='icon-lock text-muted'></i>
                      </div>
                    </div>
                    <div class='form-group'>
                      <div class='controls with-icon-over-input'>
                        <%= f.password_field :password_confirmation, class: 'form-control', placeholder: 'Confirm Password' %>
                        <i class='icon-lock text-muted'></i>
                      </div>
                    </div>
                    <div class='checkbox'>
                      <label for='agreement'>
                        <input id='agreement' name='agreement' type='checkbox' value='1'>
                        I accept
                        <a class='text-contrast' href='#'>user agreements</a>
                      </label>
                    </div>
                    <!--<button class='btn btn-block'>Sign up</button>-->
                    <%= f.submit "Sign Up!", class: "btn btn-block" %>
                  </form>
                  <div class='text-center'>
                    <hr class='hr-normal'>
                    <a href='sign_in.html'>
                      <i class='icon-chevron-left'></i>
                      Go back to sign in
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class='login-container-footer'>
            <div class='container'>
              <div class='row'>
                <div class='col-sm-12'>
                  <div class='text-center'>
                    <a href='forgot_password.html'>
                      <i class='icon-lock'></i>
                      Forgot your password?
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% end %>