<% provide(:title, "Selecting Content") %>
<% provide(:headline, "Selecting Content") %>
<% provide(:icon, "unchecked") %>
<p id="notice"><%= notice %></p>

<% @clearing_houses.each do |clearing_house| %>
<% @content = Link.where("publisher_id =?",clearing_house.publisher_id).limit(9) %>
<% if @content.count != 0 %>
<div class='row'>
  <div class='col-sm-12'>
    <div class='box'>
      <div class='box-content'>
        <div class='gallery'>
          <ul class='list-unstyled list-inline'>
            <% @content.each do |c| %>
      <!--<tr>
        <td><%= clearing_house.publisher_id %></td>
        <td><%= clearing_house.user_id %></td>
        <td><%= clearing_house.note %></td>
        <td><%= link_to 'Show', clearing_house %></td>
        <td><%= link_to 'Edit', edit_clearing_house_path(clearing_house) %></td>
        <td><%= link_to 'Destroy', clearing_house, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>-->
    
            <li>
              <div class='picture'>
                <div class='tags'>
                  <div class='label label-important'>Margarita</div>
                </div>
                <div class='actions'>
                  <div class='pull-left'>
                    <a class='btn btn-link' href='#'>
                      <small>
                        <i class='icon-share-sign'></i><td>
                        <%= link_to(new_generatedlink_path(:url => c.url)) do %>
                          Add To My Links
                        <% end %></td>
                      </small>
                    </a>
                  </div>
                  <div class='pull-right'>
                    <a class='btn btn-link'>
                      <i class='icon-share'></i>
                      5
                    </a>
                    <a class='btn btn-link'>
                      <i class='icon-comment'></i>
                      5
                    </a>
                  </div>
                </div>
                <% thumbnail = (LinkThumbnailer.generate(c.url)).images.first.src.to_s %>
                      <a data-lightbox='flatty' href='<%= thumbnail %>'>
                        <img width=250 height=150 src="<%= thumbnail %>" />
                      </a> 
              </div>
            </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
  </div>
  <% end %>
  <% end %>


<% if is_user_admin? %>
<table>
  <thead>
    <tr>
      <th>Publisher</th>
      <th>User</th>
      <th>Note</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clearing_houses.each do |clearing_house| %>
      <tr>
        <td><%= clearing_house.publisher_id %></td>
        <td><%= clearing_house.user_id %></td>
        <td><%= clearing_house.note %></td>
        <td><%= link_to 'Show', clearing_house %></td>
        <td><%= link_to 'Edit', edit_clearing_house_path(clearing_house) %></td>
        <td><%= link_to 'Destroy', clearing_house, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Clearing house', new_clearing_house_path %>
<% end %>
