<% provide(:title, "Clearing House") %>
<% provide(:headline, "Clearing House") %>
<% provide(:icon, "certificate") %>
<p>
  <strong>Publisher:</strong>
  <% @pub_pub = Publisher.find(@clearing_house.publisher_id) %>
  <% @pub_usr = User.find(@pub_pub.user_id) %>
  <%= @pub_usr.email %>
</p>

<p>
  <strong>User:</strong>
  <% @usr = User.find(@clearing_house.user_id) %>
  <%= @usr.email %>
</p>

<p>
  <strong>Note:</strong>
  <%= @clearing_house.note %>
</p>

<%= link_to 'Edit', edit_clearing_house_path(@clearing_house) %> |
<%= link_to 'Back', clearing_houses_path %>
