<%= form_for(@link) do |f| %>
  <% if @link.errors.any? %>
  	<div class='alert alert-danger alert-dismissable'><a class='close' data-dismiss='alert' href='#'>&times;</a>
  		<%= pluralize(@link.errors.count, "error") %> prohibited this link from being saved:
  		<ul>
  			<% @link.errors.full_messages.each do |message| %>
  				<li><%= message %></li>
  			<% end %>
  		</ul>
  	</div>
  <% end %>
  <div class='row'>
    <div class='col-sm-12'>
      <form class='form' style='margin-bottom: 0;'>
        <fieldset>
          <div class='col-sm-4'>
            <div class='box'>
              <div class='lead'>
                <i class='icon-github text-contrast'></i>
                Content Information
              </div>
              <small class='text-muted'>This is where you add a new link to the Social Curve System. From here Social Curve Admins will forward your link on to users with ideal traffic demographics</small>
            </div>
          </div>
          <div class='col-sm-7 col-sm-offset-1'>
            <div class='form-group'>
              <label>Link to Content</label>
              <!--<input class='form-control' id='full-name' type='text'>-->
              <%= f.text_field :url, class: 'form-control', placeholder: "Full URL" %>
            </div>
            <div class='form-group'>
              <label>Link Category</label>
              <%= f.select(:category, [["(Select One)",""],"Health","Fitness","Hipster","Science","Funny","Happiness"], {}, {:class => 'form-control'}) %>
            </div>
            <div class='form-group'>
              <label>Set Your Links Payout</label>
              <div class='row'>
                <div class='col-sm-6 col-md-6 col-lg-4'>
                  <div class='input-group'>
                    <span class='input-group-addon'>
                      $
                    </span>
                    <!--<input class='form-control input-lg text-right' id='appendedPrependedInput' type='text'>-->
                    <%= f.text_field :cpm, class: 'form-control input-lg text-right', placeholder: "10.00" %>
                    <span class='input-group-addon'>/1000</span>
                  </div>
                  <p class='help-block'>
                    <small class='text-muted'>Example: $10/1000 = $10 per 1000 clicks (traffic)</small>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </fieldset>
        <div class='form-actions'>
          <div class='row'>
            <div class='col-sm-7 col-sm-offset-5'>
                <%= f.submit "Submit Content", class: "btn btn-primary btn-lg" %>
          </div>
          </div>
        </div>
      </form>
    </div>
  </div>
<% end %>