<% provide(:title, "Listing of Links") %>
<% provide(:headline, "Listing of Links") %>
<% provide(:icon, "unchecked") %>
<p id="notice"><%= notice %></p>


<div class='row'>
  <div class='col-sm-12'>
    <div class='box bordered-box blue-border' style='margin-bottom:0;'>
      <div class='box-header blue-background'>
        <div class='title'>Links In Use</div>
        <div class='actions'>
            
          
          <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
          </a>
        </div>
      </div>
      <div class='box-content box-no-padding'>
        <div class='responsive-table'>
          <div class='scrollable-area'>
            <table class='data-table table table-bordered table-striped' style='margin-bottom:0;'>
              <thead>
                <tr>
                  <th>
                    URL
                  </th>
                  <th>
                    Date
                  </th>
                  <th>
                    Used
                  </th>
                  <% if is_user_admin? %>
                    <th>
                      Publisher ID
                    </th>
                  <% end %>
                  <th>
                    Actions
                  </th>
                  
                  <% if is_user_admin? %>
                    <th>Edit</th>
                    <th>Delete</th>
                    <th>Assign Link</th>
                  <% end %>
                  
                  
                 
                </tr>
              </thead>
              <tbody>
                  <% @links.each do |link| %>
                  <tr>
                  <td><%= link.url %></td>
                  <td><%= link.date %></td>
                  <td><%= link.used %></td>
                  <% if is_user_admin? %>
                    <td><%= link.publisher_id %> </td>
                  <% end %> 
                  <td><%= link_to 'Show', link %></td>
                  
                  <% if is_user_admin? %>
                    <td><%= link_to 'Edit', edit_link_path(link) %></td>
                    <td><%= link_to 'Destroy', link, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                    <td><%= link_to "Create Generated Link", new_generatedlink_path(:url => unusedlink.url, :link_id => unusedlink.id) %></td>
                  <% end %> 
                  
                  </tr>
                  <% end %>
                  
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<br>
<div class='row'>
  <div class='col-sm-12'>
    <div class='box bordered-box blue-border' style='margin-bottom:0;'>
      <div class='box-header blue-background'>
        <div class='title'>Unused Links</div>
        <div class='actions'>
          
          <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
          </a>
        </div>
      </div>
      <div class='box-content box-no-padding'>
        <div class='responsive-table'>
          <div class='scrollable-area'>
            <table class='data-table table table-bordered table-striped' style='margin-bottom:0;'>
              <thead>
                <tr>
                  <th>
                    URL
                  </th>
                  <th>
                    Date
                  </th>
                  <th>
                    Used
                  </th>
                  <% if is_user_admin? %>
                    <th>
                      Publisher ID
                    </th>
                  <% end %>
                  <th>
                    Actions
                  </th>
                  
                  <% if is_user_admin? %>
                    <th>Edit</th>
                    <th>Delete</th>
                    <th> Assign Link</th>
                  <% end %>
                  
                  
                </tr>
              </thead>
              <tbody>
                  <% @unusedlinks.each do |unusedlink| %>
                    <tr>
                    <td><%= unusedlink.url %></td>
                    <td><%= unusedlink.date %></td>
                    <td><%= unusedlink.used %></td>
                    <% if is_user_admin? %>
                      <td><%= unusedlink.publisher_id %> </td>
                    <% end %> 
                    <td><%= link_to 'Show', unusedlink %></td>
                    
                    <% if is_user_admin? %>
                      <td><%= link_to 'Edit', edit_link_path(unusedlink) %></td>
                      <td><%= link_to 'Destroy', unusedlink, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                      <td><%= link_to "Create Generated Link", new_generatedlink_path(:url => unusedlink.url, :link_id => unusedlink.id) %></td>
                    <% end %> 
                    
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>


