<% provide(:title, "Link") %>
<% provide(:headline, "Link") %>
<% provide(:icon, "link") %>

<p>
  <strong>Url:</strong>
  <%= @link.url %>
</p>

<p>
  <strong>Date:</strong>
  <%= @link.date %>
</p>
<p>
  <strong>Cpm:</strong>
  <%= @link.cpm %>
</p>

<p>
  <strong>Title:</strong>
  <%= @link.title %>
</p>

<p>
  <strong>Category:</strong>
  <%= @link.category %>
</p>

<p>
  <strong>Used:</strong>
  <%= @link.used %>
</p>

<%= link_to 'Edit', edit_link_path(@link) %> |
<%= link_to 'Back', links_path %>
