<p id="notice"><%= notice %></p>

<h1>Listing Generatedlinks</h1>

<table>
  <thead>
    <tr>
      <th>Url</th>
      <th>Paidout</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @generatedlinks.each do |generatedlink| %>
      <tr>
        <td><%= generatedlink.url %></td>
        <td><%= generatedlink.paidout %></td>
        <td><%= generatedlink.date %></td>
        <td><%= link_to 'Show', generatedlink %></td>
        <td><%= link_to 'Edit', edit_generatedlink_path(generatedlink) %></td>
        <td><%= link_to 'Destroy', generatedlink, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Generatedlink', new_generatedlink_path %>
