<% provide(:title, "Personal Links") %>
<% provide(:headline, "Personal Links") %>
<% provide(:icon, "unchecked") %>
<p id="notice"><%= notice %></p>

<div class='row'>
                <div class='col-sm-12'>
                  <div class='box bordered-box blue-border' style='margin-bottom:0;'>
                    <div class='box-header blue-background'>
                      <div class='title'>Links To Content</div>
                      <div class='actions'>
                        <a class="btn box-remove btn-xs btn-link" href="#"><i class='icon-remove'></i>
                        </a>
                        
                        <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
                        </a>
                      </div>
                    </div>
                    <div class='box-content box-no-padding'>
                      <div class='responsive-table'>
                        <div class='scrollable-area'>
                          <table class='table' style='margin-bottom:0;'>
                            <thead>
                              <tr>
                                <th>
                                  URL
                                </th>
                                <th>
                                  Paid?
                                </th>
                                <th>
                                  Date
                                </th>
                                <th>
                                  Actions
                                </th>
                                <% if is_user_admin? %>
                                  <th>Edit</th>
                                  <th>Delete</th>
                                <% end %>
                                
                                
                              </tr>
                            </thead>
                            <tbody>
                              <% @generatedlinks.each do |generatedlink| %>
                              <tr>
                                
                                <td>
                                  <button class='my_clip_button' data-clipboard-target='fe_text' data-clipboard-text='Default clipboard text from attribute' id='d_clip_button' title='Click me to copy to clipboard.'>
                                    <b>Copy To Clipboard...</b>
                                  </button>
                                  <textarea cols='50' id='fe_text' rows='3'><%= generatedlink.url %></textarea>
                                  
                                  </td>
                                <td><%= generatedlink.paidout %></td>
                                <td><%= generatedlink.date %></td>
                                <td><%= link_to 'Show', generatedlink %></td>
                                  <% if is_user_admin? %>
                                    <td><%= link_to 'Edit', edit_generatedlink_path(generatedlink) %></td>
                                    <td><%= link_to 'Destroy', generatedlink, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                                  <% end %> 
                                
                              </tr>
                              <% end %>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
<br>

  <button class='my_clip_button' data-clipboard-target='fe_text' data-clipboard-text='Default clipboard text from attribute' id='d_clip_button' title='Click me to copy to clipboard.'>
    <b>Copy To Clipboard...</b>
  </button>
  <h4>
    <label for='fe_text'>Change Copy Text Here</label>
  </h4>
  <textarea cols='50' id='fe_text' rows='3'>Copy me!</textarea>
  <h4>
    <label for='testarea'>Paste Text Here</label>
  </h4>
  <textarea cols='50' id='testarea' rows='3'></textarea>
  <p>
    <button id='clear-test'>Clear Test Area</button>
  </p>
</div>
<script>
  $(document).ready(function() {
    var clip = new ZeroClipboard($("#d_clip_button"))
  });

  $("#clear-test").on("click", function(){
    $("#fe_text").val("Copy me!");
    $("#testarea").val("");
  });
</script>


<br>
<% if is_user_admin? %>
<%= link_to 'New Generatedlink', new_generatedlink_path %>
<% end %>