<% provide(:title, "Background Updater") %>
<% provide(:headline, "Background Updater") %>
<% provide(:icon, "Background Updater") %>
<p id="notice"><%= notice %></p>

<h1>Listing Statsupdaters</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Interval</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @statsupdaters.each do |statsupdater| %>
      <tr>
        <td><%= statsupdater.name %></td>
        <td><%= statsupdater.interval %></td>
        <td><%= link_to 'Show', statsupdater %></td>
        <td><%= link_to 'Edit', edit_statsupdater_path(statsupdater) %></td>
        <td><%= link_to 'Destroy', statsupdater, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Statsupdater', new_statsupdater_path %>
