<p id="notice"><%= notice %></p>

<h1>Listing Paymentgroups</h1>

<table>
  <thead>
    <tr>
      <th>Transaction</th>
      <th>Generatedlink</th>
      <th>Note</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @paymentgroups.each do |paymentgroup| %>
      <tr>
        <td><%= paymentgroup.transaction_id %></td>
        <td><%= paymentgroup.generatedlink_id %></td>
        <td><%= paymentgroup.note %></td>
        <td><%= link_to 'Show', paymentgroup %></td>
        <td><%= link_to 'Edit', edit_paymentgroup_path(paymentgroup) %></td>
        <td><%= link_to 'Destroy', paymentgroup, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Paymentgroup', new_paymentgroup_path %>
