<p id="notice"><%= notice %></p>

<h1>Listing Transactions</h1>

  <div class='box-content box-double-padding'>
    <div class='row'>
      <div class='col-sm-12'>
        <div class='alert alert-info alert-dismissable'>
                      <!--<a class="close" data-dismiss="alert" href="#">&times;</a>-->
      
          <h4>
            <i class='icon-info-sign'></i>
           What do I need to do to begin recieving payments?
          </h4>
            Once your account has been verified, meaning you see content in the "Add Content" tab, simply go to your profile, click settings, and enter your PayPal Information 
        </div>
        </div>
    </div>
  </div>

<table>
  <thead>
    <tr>
      <th>Expense</th>
      <th>User</th>
      <th>Amount</th>
      <th>Note</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @transactions.each do |transaction| %>
      <tr>
        <td><%= transaction.expense %></td>
        <td><%= transaction.user_id %></td>
        <td><%= transaction.amount %></td>
        <td><%= transaction.note %></td>
        <td><%= link_to 'Show', transaction %></td>
        <td><%= link_to 'Edit', edit_transaction_path(transaction) %></td>
        <td><%= link_to 'Destroy', transaction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Transaction', new_transaction_path %>
