<header>
  <nav class="navbar navbar-default">
 
    <!-- application logo -->
    <a class="navbar-brand" href="/">
      <!-- application logo visible on large screens -->
      <img width="125" height="21" class="logo" alt="Flatty" src="/assets/icon_lg.png">
      <!-- application logo visible on small screens -->
      <!-- FIX THIS LATER -->
      <!--<img width="21" height="21" class="logo-xs" alt="Flatty" src="/assets/socialcurve.svg">-->
      <img width="125" height="21" class="logo-xs" alt="Flatty" src="/assets/icon_lg.png">
    </a>
 
    <!-- main nav toggler (show/hide) -->
    <a class="toggle-nav btn pull-left" href="#">
      <i class="icon-reorder"></i>
    </a>
 
    <!-- dropdowns -->
    <ul class="nav">
 
      <!-- light dropdown -->
      <li class="dropdown light only-icon">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          <i class='icon-cog'></i>
        </a>
        <ul class='dropdown-menu color-settings'>
          <li class='color-settings-contrast-color'>
            <div class='color-title'>Site Theme</div>
            <a data-change-to="contrast-red"         href="#"><i class='icon-cog text-red'></i>         Red <small>(default)</small></a>
            <a data-change-to="contrast-blue"        href="#"><i class='icon-cog text-blue'></i>        Blue</a>
            <a data-change-to="contrast-orange"      href="#"><i class='icon-cog text-orange'></i>      Orange</a>
            <a data-change-to="contrast-purple"      href="#"><i class='icon-cog text-purple'></i>      Purple</a>
            <a data-change-to="contrast-green"       href="#"><i class='icon-cog text-green'></i>       Green</a>
            <a data-change-to="contrast-muted"       href="#"><i class='icon-cog text-muted'></i>       Muted</a>
            <a data-change-to="contrast-fb"          href="#"><i class='icon-cog text-fb'></i>          Facebook</a>
            <a data-change-to="contrast-dark"        href="#"><i class='icon-cog text-dark'></i>        Dark</a>
            <a data-change-to="contrast-pink"        href="#"><i class='icon-cog text-pink'></i>        Pink</a>
            <a data-change-to="contrast-grass-green" href="#"><i class='icon-cog text-grass-green'></i> Grass green</a>
            <a data-change-to="contrast-sea-blue"    href="#"><i class='icon-cog text-sea-blue'></i>    Sea blue</a>
            <a data-change-to="contrast-banana"      href="#"><i class='icon-cog text-banana'></i>      Banana</a>
            <a data-change-to="contrast-dark-orange" href="#"><i class='icon-cog text-dark-orange'></i> Dark orange</a>
            <a data-change-to="contrast-brown"       href="#"><i class='icon-cog text-brown'></i>       Brown</a>
          </li>
        </ul>
        <!-- ... -->
      </li>
 
      <!-- medium dropdown -->
      <li class="dropdown medium only-icon">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          <i class="icon-rss"></i>
        </a>
      </li>
 
      <!-- dark dropdown & user menu -->
      <% if logged_in? %>
      <li class="dropdown dark user-menu">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          <img width="23" height="23" alt="Gravatar" src=<%= gravatar_url(current_user) %> />
          <span class="user-name"><%= current_user.first %> <%= current_user.last %></span>
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a href=<%= "/users/#{current_user.id}" %>>
              <i class="icon-user"></i>
              Profile</a>
          </li>
          <li>
            <a href=<%= "/users/#{current_user.id}/edit" %>>
              <i class='icon-cog'></i>
              Settings</a>
          </li>
          <li class='divider'></li>
          <li>
            <a href="/signout">
              <i class="icon-remove-circle"></i>
              Sign out</a>
          </li>
        </ul>
        <!-- ... -->
      </li>
      <% else %>
      <li class="dropdown dark user-menu">
        <a class="dropdown-toggle" href="/signin">
          <!--<img width="23" height="23" alt="Gravatar" src="/assets/blankavatar.png" />-->
          <span class="user-name">Sign In</span>
        </a>
      </li>
      <% end %>
    </ul>
  </nav>
</header>