<nav id="main-nav">
  <div class="navigation">
    <!-- navigation items -->
    <ul class="nav nav-stacked">
      <% if logged_in? %>
        <% # If logged in %>
        <%= nav_button_gen("/dashboard","dashboard","Dashboard") %>
        <% if current_user.admin? %>
          <% # If logged in and ADMIN %>
          <%= nav_button_gen("/users","user","All Users") %>
          <%= nav_button_gen("/clearing_houses","certificate","Clearing House") %>
          <%= nav_button_gen("/links","th-list","Content Management") %>
          <%= nav_button_gen("/statistic","signal","Content Statistics") %>
          <%= nav_button_gen("/payment","usd","In/Out Payments") %>
        <% elsif current_user.publisher? %>
          <% # If logged in and PUBLISHER %>
          <%= nav_button_gen("/links/new","edit","Create Links") %>
          <%= nav_button_gen("/links","th-list","View Links") %>
          <%= nav_button_gen("/statistic","signal","My Statistics") %>
          <%= nav_button_gen("/payment","usd","Payments") %>
        <% else %>
          <% # If logged in and USER %>
          <%= nav_button_gen("/clearing_houses","certificate","Add Content") %>
          <%= nav_button_gen("/generatedlinks","tasks","Your Content") %>
          <%= nav_button_gen("/statistic","signal","Statistics") %>
          <%= nav_button_gen("/payment","usd","Payments") %>
        <% end %>
        
        <% # If logged in %>
        <%= nav_button_gen("/signout","remove-circle","Sign Out") %>
        <%= nav_folder_start("SocialCurve") %>
          <%= nav_button_gen("/about","info-sign","About SocialCurve") %>
          <%= nav_button_gen("/help","question-sign","Help") %>
          <%= nav_button_gen("/contact","phone","Contact Us") %>
        <%= nav_folder_end %>
      <% else %>
        <% # If NOT logged in %>
        <%= nav_button_gen("/","home","Home") %>
        <%= nav_button_gen("/about","info-sign","About SocialCurve") %>
        <%= nav_button_gen("/help","question-sign","Help") %>
        <%= nav_button_gen("/contact","phone","Contact Us") %>
        <%= nav_button_gen("/signin","ok-circle","Sign In") %>
      <% end %>
    </ul>
  </div>
</nav>