<!DOCTYPE html>
  <html>
    <head>
      <!-- this enables responsive features in browser -->
      <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
      <%= favicon_link_tag %>
      <title><%= yield :title %> - SocialCurve</title>
       
      <!-- your & Flatty stylesheets -->
      <%= stylesheet_link_tag :application %>
      
      <!-- your & Flatty javascripts -->
      <%= javascript_include_tag 'application.js' %>
      
      <!-- if you are going to support IE8 you must include these files -->
      <!--[if lt IE 9]>
        <script src='assets/javascripts/ie/html5shiv.js' type='text/javascript'></script>
        <script src='assets/javascripts/ie/respond.min.js' type='text/javascript'></script>
      <![endif]-->
    </head>
    <body>
      <!-- your content goes here -->
      <%= render 'layouts/header' %>
      <div id="wrapper">
        <div id="main-nav-bg"></div>
        <%= render 'layouts/nav' %>
        <section id="content">
            <div class='container'>
              <div class='row'>
                <div class='col-xs-12'>
                  <div class='row'>
                    <div class='col-sm-12'>
                      <div class='page-header'>
                        <h1 class='pull-left'>
                          <i class='icon-<%= yield :icon %>'></i>
                          <span><%= yield :headline %></span>
                        </h1>
                        <div class='pull-right'></div>
                      </div>
                    </div>
                  </div>
                  <% flash.each do |message_type, message| %>
                    <% if message_type == "danger" %>
                      <div class='alert alert-danger alert-dismissable'><a class='close' data-dismiss='alert' href='#'>&times;</a><ul><li><%= message %></li></ul></div>
                    <% elsif message_type == "success" %>
                      <div class='alert alert-success alert-dismissable'><a class='close' data-dismiss='alert' href='#'>&times;</a><ul><li><%= message %></li></ul></div>
                    <% elsif message_type == "info" %>
                      <div class='alert alert-info alert-dismissable'><a class='close' data-dismiss='alert' href='#'>&times;</a><ul><li><%= message %></li></ul></div>
                    <% else %>
                      <div class='alert alert-warn alert-dismissable'><a class='close' data-dismiss='alert' href='#'>&times;</a><ul><li><%= message %></li></ul></div>
                    <% end %>
                  <% end %>
                  <%= yield %>
                <br><br>
                <%= render 'layouts/footer' %>
              </div>
              </div>
            </div>
        </section>
      </div>
    </body>
  </html>